@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 1rem;
    color: #393e46;
    font-family: Rubik, sans-serif;
}

.contain {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

h3 {
    margin-bottom: 1rem;
}